<ion-card>
  <ion-card-header>
    <ion-card-title>{{ coffee.name }} 
    
  </ion-card-title>  
    <ion-card-subtitle>{{coffee.origin}}</ion-card-subtitle>

  </ion-card-header>

  <ion-card-content>
    <div class="content-container">
      <div class="text-container">
        <p *ngIf="coffee.productor"><strong>Farmer:</strong> {{ coffee.productor }}</p>
        <p *ngIf="coffee.region"><strong>Region:</strong> {{ coffee.region }}</p>
        <p *ngIf="coffee.altitude"><strong>Altitude:</strong> {{ coffee.altitude }}</p>
        <p *ngIf="coffee.harvest_date"><strong>Harvest date:</strong> {{ coffee.harvest_date }}</p>
        <p *ngIf="coffee.variety"><strong>Variety:</strong> {{ coffee.variety }}</p>
        <p *ngIf="coffee.roasting_day"><strong>Roasting date:</strong> {{ coffee.roasting_day }}</p>
        <p *ngIf="coffee.roasting_degree"><strong>Roasting degree:</strong> {{ coffee.roasting_degree }}</p>
        <p *ngIf="coffee.process"><strong>Process:</strong> {{ coffee.process }}</p>

      </div>
      <div class="button-container">
        <ion-button>
          <ion-icon slot="start" name="trash-outline"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="start" name="cafe-sharp"></ion-icon>
          Brew it!
        </ion-button>
        <ion-button>
          <ion-icon slot="start" name="eye-sharp"></ion-icon>
          View details
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>
