<ion-card>
  <ion-card-header>
    <ion-card-title>{{ coffee.name }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="content-container">
      <div class="text-container">
        <p><strong>Origine:</strong> {{ coffee.origin }}</p>
        <p><strong>Processo:</strong> {{ coffee.process }}</p>
      </div>
      <div class="button-container">
        <ion-button>
          <ion-icon slot="start" name="star-outline"></ion-icon>
          Brew it!
        </ion-button>
        <ion-button>
          <ion-icon slot="start" name="heart-outline"></ion-icon>
          View details
        </ion-button>
      </div>
    </div>
  </ion-card-content>
</ion-card>
