<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (submit)="login()">
    <ion-item>
      <ion-label position="floating">Email or Nickname</ion-label>
      <ion-input type="text" [(ngModel)]="loginData.username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" [(ngModel)]="loginData.password" name="password" required></ion-input>
    </ion-item>

    <ion-button expand="block" style="margin-top: 5%;" type="submit" color="primary">
      Login
    </ion-button>

    <div class="sign-up-link">
      <p>
      <a (click)="goToSignUp()">
      Don't have an account? <br>
        Sign Up!</a>
      </p>
    </div>
  </form>
</ion-content>
